* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #603A03;
}

body {
    background-image: url("../imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Titulo;
    src: url("../fontes/ANODETONOONE.TTF");
}

.container {
    max-width: 950px;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.inicio h1 {
    font-family: Titulo;
    font-size: 40px;
    color: var(--mainColor);
}


.fundo {
    width: 950px;
    height: 630px;
    background-image: url(../imgs/fundo_game.jpg);
    border-color: #FFF;
    border-style: solid;
}

.jogador {
    width: 200px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
}

.inimigo1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
}

.inimigo2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url(../imgs/inimigo2.png);
}

.amigo {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
}

.inicio {
    width: 350px;
    height: 260px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;

}


.anima1 {
    background-image: url("../imgs/apache.png");
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
}

@keyframes play {
    from {
        background-position: 0px;
    }

    to {
        background-position: -512px;
    }
}

@-webkit-keyframes play {
    from {
        background-position: 0px;
    }

    to {
        background-position: -512px;
    }
}

.anima2 {
    background-image: url(../imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
}


.anima3 {
    background-image: url(../imgs/amigo.png);
    animation: play2 .9s steps(12) infinite;
    -webkit-animation: play2 .9s steps(12) infinite;
}

@keyframes play2 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -528px;
    }
}

@-webkit-keyframes play2 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -528px;
    }
}

.disparo {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url(../imgs/disparo.png);
}


.explosao1 {
    width: 15px;
    height: 87px;
    position: absolute;
}

.explosao2 {
    width: 44px;
    height: 51px;
    position: absolute;
}

.anima4 {
    width: 44px;
    height: 51px;
    background-image: url(../imgs/amigo_morte.png);
    animation: play3 .5s steps(7) infinite;
    -webkit-animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -308px;
    }
}

@-webkit-keyframes play3 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -308px;
    }
}


.placar {
    width: 450px;
    height: 50px;
    position: absolute;
    left: 5px;
    top: 590px;
}

h2 {
    font-family: Titulo;
    font-size: 20px;
    color: #FFF
}

.energia {
    width: 140px;
    height: 38px;
    position: absolute;
    left: 750px;
    top: 7px;
}

.fim {
    width: 350px;
    height: 200px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.texto-inicial {
    margin: 5px 0;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 18px;
}

.start-game {
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}

.start-game:hover {
    color: var(--mainColor);
}

.reinicia {
    font-family: Titulo;
    font-size: 20px;
    transition: 0.5s;
    color: #603A03;
}

.reinicia:hover {
    cursor: pointer;
    font-size: 23px;
}

.sound {
    width: 140px;
    height: 38px;
    position: absolute;
    left: 890px;
    top: 7px;
    cursor: pointer;
}

.sound-div {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range {
    cursor: pointer;
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}

.range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
}

.range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

.range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}

.range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-tooltip {
    display: none;
    /* display and visibility only */
}

.range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #9da6b4;
}

.range:active::-moz-range-thumb {
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
    outline: none;
}

.range::-ms-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    border: none;
}

.range:active::-ms-thumb {
    border: none;
}
  
output {
  border: 1px solid #2b3039;
  color: #aaa;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: .4em .6em;
  border-radius: 3px;
}